.rebel-assets__cell {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
}

.rebel-assets__link {
  text-decoration: none;
  color: var(--pico-contrast);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.rebel-assets__thumb {
  max-width: 80px;
  max-height: 80px;
  border-radius: 10px;
  margin-bottom: 5px;
  background: white;
}
