.rebel-balance {
  font-weight: 200;
  text-align: center;
  margin-bottom: 0;
}

.rebel-balance__value-container {
  margin-bottom: calc(var(--pico-spacing));
  text-align: center;
}

.rebel-balance__dollar-value {
  font-size: 1.2rem;
  font-weight: 200;
  display: inline-block;
}

.rebel-balance__base-currency-value {
  font-size: 1.2rem;
  font-weight: 200;
  display: inline-block;
  margin-left: 30px;
}

