.rebel-receive__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rebel-receive__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rebel-receive__qr {
  width: 90%;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.rebel-receive__address {
  text-align: center;
  word-break: break-all;
  font-size: calc(1em + 2pt);
}

